*{
    margin: 0;
    padding: 0;
}
.iconbox{
    overflow: hidden;
    .icon{
        float: right;
        margin:5px;
        cursor: pointer;
    }
}
.onesmallbox{
    padding-bottom: 15px;
    .onesmall{
        float: left;
        border: 2px solid skyblue;
        border-radius:5px;
        padding:0 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        b{
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            right: -10px;
            top: -10px;
            background: white;
            border: 1px solid #000;
            text-align: center;
            line-height: 20px;
        }
        b:hover{
            background: yellow;
        }
    }
}
.clear{
    clear: both;
}
.beixuanbox{
    padding-bottom: 15px;
    span{
        .onesmallbox .onesmall;
        cursor: pointer;
    }
}
.btnbox{
    margin-top: 10px;
    margin-bottom: 10px;
    Button{
        margin-right: 10px;
    }
}
.float{
    float: left;
}
.myrow{
    margin: 5px 0;
    .myspan{
        padding: 2px 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 20px;
        cursor: pointer;
        &.cur{
            background: #1890ff;
            color:white;
        }
    }
    .myspan:hover{
        border: 1px solid #1890ff;
    }
}
.allbs{
    padding:0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    &.cur{
        background: #1890ff;
        color:white;
    }
}
.allbs:hover{
    border: 1px solid #1890ff;
}
